<a href="https://colab.research.google.com/github/DaksheshGautam/Data-Practice/blob/main/FE_date_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import numpy as np
import pandas as pd
import datetime

In [2]:
date = pd.read_csv('orders.csv')
time = pd.read_csv('messages.csv')

In [3]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [10]:
date.drop(columns = ['product_id', 'city_id'])

          date  orders
0   2019-12-10       3
1   2018-08-15     157
2   2018-10-23       1
3   2019-08-17       1
4   2019-01-06       3
..         ...     ...
995 2018-10-08       1
996 2018-12-06       1
997 2019-05-07      14
998 2019-03-03       2
999 2019-10-15      22

[1000 rows x 2 columns]

In [5]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [11]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [12]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [13]:
date['date'] = pd.to_datetime(date['date'])

In [14]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [16]:
date['date_year'] = date['date'].dt.year
date['date_month_no'] = date['date'].dt.month
date['date_month_name'] = date['date'].dt.month_name()
date['date_day'] = date['date'].dt.day
date['date_dow'] = date['date'].dt.day_of_week
date['date_doy'] = date['date'].dt.day_of_year
date['date_dow_name'] = date['date'].dt.day_name()
date['day_is_weekend'] = np.where(date['date_dow_name'].isin(['Sunday', 'Saturday']), 1,0 )
date['week_of_year'] = date['date'].dt.isocalendar().week
date['quarter'] = date['date'].dt.quarter
date['semester'] = np.where(date['quarter'].isin([1,2]), 1, 2)

In [17]:
date.head(5)

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day,date_dow,date_doy,date_dow_name,day_is_weekend,week_of_year,quarter,semester
0,2019-12-10,5628,25,3,2019,12,December,10,1,344,Tuesday,0,50,4,2
1,2018-08-15,3646,14,157,2018,8,August,15,2,227,Wednesday,0,33,3,2
2,2018-10-23,1859,25,1,2018,10,October,23,1,296,Tuesday,0,43,4,2
3,2019-08-17,7292,25,1,2019,8,August,17,5,229,Saturday,1,33,3,2
4,2019-01-06,4344,25,3,2019,1,January,6,6,6,Sunday,1,1,1,1

In [18]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [19]:
time['date'] = pd.to_datetime(time['date'])

In [20]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [22]:
time['hour'] = time['date'].dt.hour
time['minute'] = time['date'].dt.minute
time['seconds'] = time['date'].dt.second

In [23]:
time.head()

,date,msg,hour,minute,seconds
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

In [25]:
time['time'] = time['date'].dt.time

In [26]:
time.head()

,date,msg,hour,minute,seconds,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

In [30]:
today = datetime.datetime.now()
today - time['date']

0     4426 days 18:13:27.823657
1     4290 days 19:23:27.823657
2     4776 days 18:42:27.823657
3     4078 days 18:32:27.823657
4     4475 days 19:52:27.823657
                 ...
995   5065 days 18:13:27.823657
996   4386 days 19:49:27.823657
997   4851 days 19:26:27.823657
998   4967 days 19:29:27.823657
999   4239 days 19:38:27.823657
Name: date, Length: 1000, dtype: timedelta64[ns]

In [36]:
(today - time['date'])/np.timedelta64(1,'s')

0      3.824720e+08
1      3.707258e+08
2      4.127137e+08
3      3.524059e+08
4      3.867115e+08
           ...
995    4.376816e+08
996    3.790218e+08
997    4.191964e+08
998    4.292190e+08
999    3.663203e+08
Name: date, Length: 1000, dtype: float64

In [35]:
(today - time['date'])/np.timedelta64(1,'m')

0      6.374533e+06
1      6.178763e+06
2      6.878562e+06
3      5.873432e+06
4      6.445192e+06
           ...
995    7.294693e+06
996    6.317029e+06
997    6.986606e+06
998    7.153649e+06
999    6.105338e+06
Name: date, Length: 1000, dtype: float64