<a href="https://colab.research.google.com/github/DaksheshGautam/Data-Practice/blob/main/FE_Encoding_Ordinal_and_label.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ordinal Encoding and Label Encoding**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('customer.csv')

In [ ]:
df.sample(5)

    age  gender   review education purchased
46   64  Female     Poor        PG        No
0    30  Female  Average    School        No
17   22  Female     Poor        UG       Yes
31   22  Female     Poor    School       Yes
42   30  Female     Good        PG       Yes

In [ ]:
df = df.iloc[: ,2:]

In [ ]:
df.sample(5)

     review education purchased
35     Poor    School       Yes
14     Poor        PG       Yes
4   Average        UG        No
48     Good        UG       Yes
39     Poor        PG        No

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.iloc[:, 0:2], df.iloc[:, -1], test_size=0.2)

X_train.sample(5)

     review education
28     Poor    School
12     Poor    School
34  Average    School
16     Poor        UG
33     Good        PG

In [ ]:
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])
oe.fit(X_train)
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(Y_train)
Y_train = le.transform(Y_train)
Y_test = le.transform(Y_test)

array([[1., 2.],
       [0., 2.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [1., 2.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [2., 1.]])