<a href="https://colab.research.google.com/github/DaksheshGautam/Data-Practice/blob/main/FE_KNN_imputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.impute import KNNImputer, SimpleImputer

In [22]:
df = sns.load_dataset('titanic')

In [23]:
df = df[['age','pclass','fare','survived']]

In [24]:
df.head()

    age  pclass     fare  survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [25]:
df.isnull().mean()

age         0.198653
pclass      0.000000
fare        0.000000
survived    0.000000
dtype: float64

In [26]:
X = df.drop(columns = ['survived'])
Y = df['survived']

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 2)

In [28]:
X_train.head()

      age  pclass     fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [29]:
knn = KNNImputer(n_neighbors=3, weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [30]:
pd.DataFrame(X_train_trf, columns = X_train.columns)

           age  pclass      fare
0    40.000000     1.0   27.7208
1     4.000000     3.0   16.7000
2    47.000000     3.0    9.0000
3     9.000000     3.0   31.3875
4    20.000000     3.0    9.8458
..         ...     ...       ...
707  30.000000     3.0    8.6625
708  26.959410     3.0    8.7125
709  71.000000     1.0   49.5042
710  32.666667     1.0  221.7792
711  49.762895     1.0   25.9250

[712 rows x 3 columns]

In [31]:
lr = LogisticRegression()
lr.fit(X_train_trf, Y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(Y_test, y_pred)

0.7039106145251397